/********* BETTER FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,200&display=swap');

/********* LAYOUT STYLES *********/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: white;
  background-color: #262626;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center form*/
  background-color: #441818;
  font-size: 18px;
  margin: 20px auto;
  max-width: 800px;
  padding: 10px 40px;
}

/********* FORM STYLES *********/
.inputsWrapper {
  /* background-color: sandybrown; */
  border: #723535 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.inputSection {
  /* background-color: rosybrown; */
  margin: 1em 1em;
}

input[type="number"] {
  font-size: 1.4rem;
  font-family: monospace;
  min-width: 2em;
}
input[type="checkbox"] {
  -ms-transform: scale(2,2); /* IE */
  -moz-transform: scale(2,2); /* FF */
  -webkit-transform: scale(2,2); /* Safari and Chrome */
  -o-transform: scale(2,2); /* Opera */
  transform: scale(1.5,1.5);
  margin: 0.6em 0;
}
input[type="checkbox"]:checked {
  background-color: #ffaa00;
  transition: all 0.4s;
}
input[type="checkbox"] + label {
  margin-left: 0.5em;
}
input[type="checkbox"], input[type="checkbox"] + label {
  white-space: nowrap;
}
input:checked + label {
  font-weight: 700;
}
input:focus {
  outline: 1px dotted black; /* lighten the focus outline on Chrome */
}

label > span {
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/********* VISUAL & TYPE STYLES *********/
h1 {
  font-family: Source Serif Pro, serif;
  color: white;
  letter-spacing: 0.06em;
}

button {
  border: none;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 0 0 0;
  padding: .5em 1em;
  text-align: center;
  cursor: pointer;
}
button#generate {
  background-color: #af0808;
}
button#copy {
  background-color: teal;
}
button:focus {
  outline: none;
  box-shadow: 0px 0px 8px tomato;
  background-color: #af9e08;
}
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

#passwordBox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px 15px 85px 15px;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
  margin: 2em 0px;
  resize: none;
  overflow: auto;
}

/********* RESPONSIVE STYLES *********/
@media (max-width: 1000px) {
  .btn {
    font-size: 0.9rem;
    margin: 1em 0 0 0;
    padding: .5em 1em;
  }
  h1 {
    font-size: 1.4rem;
  }
  #passwordBox {
    font-size: 1rem;
  }
  .inputsWrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .btn {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  .inputsWrapper {
    flex-wrap: wrap;
  }
}
